.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.Rproj.user/100DA0B6/sources/prop/987A5410
.Rproj.user/100DA0B6/pcs/source-pane.pper
.Rproj.user/100DA0B6/pcs/source-pane.pper
.Rproj.user/100DA0B6/pcs/windowlayoutstate.pper
.Rproj.user/100DA0B6/sources/prop/987A5410
.Rproj.user/100DA0B6/sources/prop/987A5410
.Rproj.user/100DA0B6/sources/prop/INDEX
*.pper
